<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AvoidBranchingStatementAsLastInLoopRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>AvoidDefaultArgumentsOnVirtualMethodsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>AvoidPrivateStaticMembersRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>BaseClassDestructorShouldBeVirtualOrProtectedRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>BitwiseOperatorInConditionalRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BrokenNullCheckRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BrokenOddnessCheckRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ClassNamePrefixRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>CollapsibleIfStatementsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ConstantConditionalOperatorRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ConstantIfExpressionRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CoveredSwitchStatementsDontNeedDefaultRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>CyclomaticComplexityRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>DeadCodeRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>DeallocPositonRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>DefaultLabelNotLastInSwitchStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>DestructorOfVirtualClassRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>DetectClassPrefixRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>DoubleNegativeRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>EmptyCatchStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>EmptyDoWhileStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>EmptyElseBlockRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>EmptyFinallyStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>EmptyForStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>EmptyIfStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>EmptySwitchStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>EmptyTryStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>EmptyWhileStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>ForLoopShouldBeWhileLoopRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>GotoStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>IfElsePositonRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>IfMustHavaBracesRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>InvertedLogicRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>JumbledIncrementerRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>KSPageloadRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>KSPrefixRuleRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>LongClassRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>LongLineRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>LongMethodRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>LongVariableNameRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>MisplacedNullCheckRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>MissingBreakInSwitchStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>MultipleUnaryOperatorRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>NPathComplexityRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>NcssMethodCountRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>NestedBlockDepthRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>NonCaseLabelInSwitchStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>OCLintAbstractRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OCLintHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OCLintUtil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ObjCAssignIvarOutsideAccessorsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>ObjCBoxedExpressionsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>ObjCContainerLiteralsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>ObjCNSNumberLiteralsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>ObjCObjectSubscriptingRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>ObjCVerifyIsEqualHashRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ObjCVerifyMustCallSuperRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>ObjCVerifyProhibitedCallRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>ObjCVerifyProtectedMethodRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ObjCVerifySubclassMustImplementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>ParameterReassignmentRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>PreferEarlyExitRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>RedundantConditionalOperatorRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>RedundantIfStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>RedundantLocalVariableRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>RedundantNilCheckRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>ReturnFromFinallyBlockRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ShortVariableNameRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>SwitchStatementsShouldHaveDefaultRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>ThrowExceptionFromFinallyBlockRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>TooFewBranchesInSwitchStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>TooManyFieldsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>TooManyMethodsRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>TooManyParametersRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>UnnecessaryElseStatementRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>UnnecessaryNullCheckForCXXDeallocRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>UnusedLocalVariableRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>UnusedMethodParameterRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>UselessParenthesesRule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D8FEBBD238E4478B673CACA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E00F897AA034F29AD92E20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E49D0D5012441F6A81C3BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12178C0907A04FAFB40354F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17E441ACA1A649F9B327CC3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19DF9D16E0F24AFFBC98E296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D335912E38E48508197D7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D60B9A2A6854266A116D2E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26A62DEA2A254738A77FB4DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29873606373348F3AB336561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CAB26DA314D45DE9ED8B3D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FB620C0DB4E4E01B598F154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3323B2CA2A3544778C1AF191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DA3F4A9F8324D6B9CE698D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>400FD0A1994043799987E351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A4E2037105643D3B4F2006B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F4201391E9740B28ACFD797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53092276BC1C4FF0ACE2B160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54089535E6AB442E9EA186BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54D1923925FF4DB28F2D5623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>575F4D6161C148DA976AD203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5911A1B8559347B89E75B284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D229A17EE274DB8986C2EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62176E798A944CE993D82EE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>631E6AA112584A449C44548B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692DF5E352C34BFD94E9E9DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A704978CF43455E9F1B5B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB14321D917449181C4DDF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7F24192E9F4326AE47F654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>714CBC09F32D4DC28E4110AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A63EF9F7A8740B994EB8A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844D0E6E0CA0479FAB93C301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>855D05B4C4964786AD9E7ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B58C7BD3EF74119B018E372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95EACA4817EF45088A075EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98F5CFC008D442A98D176578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A65D4E27CC440A2B07A9311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A94BDAC1E5340DF84F1627C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E5C0E44C044BC8943D5436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1F28155E44F4AC0903C8979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3215B6B664F48D2BE0ADB0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A963EDB6FB064FC2833B8705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB2418D42BBE44B6B1D59476</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE028815625046268331C540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B19C6C57102D4BB8B9385DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1D54F959FCD4D1FB4A517A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3A3EF826F16411798F4CDC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A20B7465664AC6AFD92E87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78A7BB25AAC49D4869C0C5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90B2B71BD4D4822A8F938D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA2CE30FD17643D3ABA5D68E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE908A80337449BAB4C0A83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4F64D201A0D4E6D841E93F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5097A1B3AD143AF9D4B68BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C60B5DAC034946A296AFEF09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCEFFEE3264841F780604468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CECFB9EAAA94495DA73D5E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D00992B7D7E5472998B33740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D12856FC33154E33A9D35CF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D155FD21A2BD471E8C08C089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4B0974029C24D81B293A3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B02A02EF7F41B48E716CAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D82B255DCB5640BEB46BA14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D84D066C8B4B469488F3BDF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9DAEC1BD71F481A9C5546CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB909774E9AF4E85A3EB38E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE6289CF4EBE46838E78AE56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1D3100FBC52410CA060C316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3116C9EE621416E896DD2A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA7BF5BC1EBF4575971E5CB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB04D8C9BA1B4477BC0C28FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDB6DC356AF541C6A490FBE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1C8B1175AC64DBAA7A719E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5BBF14E2B6F44769E7361F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6674BFEB02C443198231153</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6823501F6B54752B6641C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9089478A88745599EC1A6C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9492AAD0C7B472FA7117BE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F974026FA16A40B0A2048BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC00B00725D4861859EAEE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDF89F2A4CF24EFABC9333F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
